{% extends "base.html" %}

{% block body %}
<script src="js/script.js"></script>

<div id="content">
    <div class="hero">
        <div class="title">
            <img src="img/logo.png" alt="BarWürfeln Logo" />
            <h1> BarWürfeln </h1>
        </div>
    </div>

    <div class="info">
        <h3> Funktionen: </h3>
        <ul>
            <li>
                <p> Würfle Deine nächste Bar: Lass den Zufall entscheiden, welche Bar Du als nächstes besuchst. BarWürfeln macht Dein Ausgeherlebnis aufregender und überraschender. </p>
            </li>
            <li>
                <p> Ideal für Kneipentouren: Plane eine Kneipentour und würfle, um mehrere neue Orte an einem Abend zu entdecken. Nie wieder dieselben Bar-Routinen! </p>
            </li>
            <li>
                <p> Einfache Bedienung: Ein einfacher Wurf entscheidet, wohin es geht. </p>
            </li>
            <li>
                <p>
                    Keine Qual der Wahl mehr: BarWürfeln übernimmt für Euch! Ihr müsst nur noch die neue Bar ausprobieren!
                </p>
            </li>
            <li>
                <p> Club, Café oder Restaurant &#8594; BarWürfeln </p>
            </li>
        </ul>
        <h3>
            Warum BarWürfeln?
        </h3>
        <ol>
            <li>
                <p> Abwechslung: Entfliehe der Routine und entdecke ständig neue Bars. </p>
            </li>
            <li>
                <p> Spontanität: Lass den Zufall entscheiden und erlebe spontane Abenteuer. </p>
            </li>
            <li>
                <p> Kneipentouren leicht gemacht: Plane eine Kneipentour und lass BarWürfeln für Dich entscheiden, wohin es geht. </p>
            </li>
        </ol>
        <br />

        <p class="bold center">
            Lade BarWürfeln jetzt herunter und lass den Würfel über Dein nächstes Abenteuer entscheiden!
        </p>
        <p class="bold center no-bottom-margin">
            Entdecke neue Bars und erlebe die Stadt wie nie zuvor!
        </p>
    </div>

</div>

<div id="footer">
    <a href="imprint">Impressum</a>
</div>
{% endblock body %}
